// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #2771a5;
$danger: #e36d6d;

$theme-colors: (
  "primary": $primary,
  "danger": $danger
);

