.memberCenter .avatar{
    text-align: center;
}

.memberCenter .avatar .btnPrimary{
    padding: 5px;
    font-size: 12px;
    position: relative;
    left: 90px;
}

.memberCenter .avatar img{
    width: 150px;
    height: 150px;
}

.memberCenter .container{
    width: 200px;
    margin: 0 auto;
}

.memberCenter .container div{
    margin: 20px 0 ;
}
.showChangePsw.hide{
    display: none;
}
.changePsw{
    padding: 20px 0;
}

.changePsw.hide{
    display: none;
}
.changePsw input{
    margin: 10px 0;
}