.memberCenter .avatar{
    text-align: center;
    width: auto;
}

.memberCenter .avatar .btnPrimary{
    padding: 5px;
    font-size: 12px;
    position: relative;
    left: 90px;
}

.memberCenter .avatar img{
    width: 150px;
    height: 150px;
}

.memberCenter .container{
    width: 200px;
    margin: 20px auto;
}

.memberCenter .container div{
    margin: 20px 0 ;
}

.changePsw{
    padding: 20px 0;
}

.changePsw input{
    margin: 10px 0;
}
.form-group{
    position: relative;
}
.bi-eye,
.bi-eye-slash{
    position: absolute;
    top: 50%;
    right: 2%;
    color: $primary;
    font-size: 18px;
    cursor: pointer;
}

// upload
.fileInputArea span{
    font-size: 12px;
}

[for="fileTag"] {
    padding: 6px 10px;
    background-color: $primary;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-align: center;
}

#fileTag {
    display: none;
}

.uploadArea{
    text-align: center;
    border: 1px dotted;
    padding: 15px;

    img{
        width: 150px;
    }

    button{
        vertical-align: bottom;
    }
}

.uploadArea.hide{
    display: none;
}

.memberCenter .fa-regular{
    position: relative;
    left: 85%;
    top: -29px;
    color: #6DB9EF;
    cursor: pointer;
}
