form {
    width: auto;
}

.container-sm{
    max-width: 800px;
}
.searchArea>div{
    font-size: 18px;
    text-align: left;
    width: fit-content;
    margin: 10px 0;
}
.searchInput {
    vertical-align: middle;
    margin-right: 20px;
}

.searchArea .btn {
    vertical-align: middle;
}

.searchArea {
    border: 1px solid lightgray;
    padding: 20px;
    max-width: 800px;
    margin: 10px auto;
    box-sizing: border-box;
}

.searchArea>div>span{
    display: block;
    margin: 10px 0 15px 0;
}

.searchArea input{
    width: 150px;
}

#containerArea{
    max-width: 800px;
    width: auto;
    margin: 0 auto;
}


.commentAvatar {
    vertical-align: top;
    margin-right: 10px;
}

.memContent {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

.actionArea{
    min-width: 80px;
}

.msgContent {
    margin-top: 10px;
}


.msgContainer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.msgContainer .avatar{
    width: 80px;
    text-align: center;
}

.msgContainer button{
    display: block;
}

.msgContainer .form-floating > .form-control{
    width: 500px;
    font-size: 18px;
    vertical-align: bottom;
    height: 150px;
}

.insert{
    margin-top: 30px;
}

.insert button{
    margin-top: 10px;
}

.container .contentArea {
    flex-grow: 1;
    width: 80%;
}


.container-sm .actionArea.hide {
    display: none;
}

.container-sm .actionArea div {
    margin: 10px 0;
}


/* update.php */
.update .avatar{
    width: 80px;
}

.update .actionArea{
    text-align: center;
    margin-top: 10px;
}

.update .actionArea a {
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .searchInput {
        display: block;
        margin-bottom: 10px;
    }

    .msgContainer .avatar{
        text-align: justify;
    }


    .textArea{
        width: 350px;
    }
    
    .msgContainer textarea {
            width: 300px;
        margin-top: 10px;
        height: 150px;
    }
}

@media screen and (max-width: 390px){
 
    .commentAvata{
        margin-right: 0;
    }
    .msgContainer{
        flex-direction: column;
        align-items: center;   
    }

}