.logo{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
}

.logo img{
    width: 150px;
}

.logo .infoArea{
    position: absolute;
    top: 50px;
    right: -230px;
}

.logo .infoArea a{
    color: #6DB9EF;
}

.logo .infoArea button{
    margin-left: 5px;
}

form{
    width: 235px;
    margin: 0 auto;
    margin-top: 30px;
}

.title{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

tbody td{
    display: block;
    margin: 10px 0;
}

tfoot{
    text-align: right;
}
tfoot tr{
    display: inline-block;
    margin: 0 5px;
}
.btn{
    padding: 6px 10px;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
    text-align: center;
}

.btn:hover{
    cursor: pointer;
}
.btnPrimary {
    border-color: #6DB9EF;
    color: #6DB9EF;
}
.btnPrimary:hover {
    background-color: #6DB9EF;
    border-color: #6DB9EF;
    color: #fff;
}
.btnSecondary {
    border-color: #a9a9a9;
    color: #a9a9a9;
}
.btnSecondary:hover {
    background-color: #a9a9a9;
    border-color: #a9a9a9;
    color: #fff;
}
.btnWarning {
    border-color: #e36d6d;
    color: #e36d6d;
}
.btnWarning:hover {
    background-color: #e36d6d;
    border-color: #e36d6d;
    color: #fff;
}

@media screen and (max-width: 768px){

    .logo img{
        width: 150px;
    }

    .logo .infoArea{
        position: unset;
    }

}